@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap");

:root {
  /*Colors*/
  --clr-cream: #f3eed9;
  --clr-brown: #824936;
  --clr-dark: #222c2a;
  /*Fonts*/
  --f-tittle: "Playfair Display", serif;
  --f-main: "Roboto", sans-serif;
}

/* Globals */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--f-main);
}

/* typo */
h1,
h2 {
  font-family: var(--f-tittle);
  font-size: 2.25rem;
}

p {
  font-family: var(--f-main);
  font-size: 1.3125rem;
  font-weight: 400;
}

section {
  padding: 4rem 0;
}

.container {
  width: 85%;
  max-width: 1128px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  align-self: center;
}

.hero {
  background-color: var(--clr-cream);
}

.hero > div {
  min-height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero p {
  font-size: 1.125rem;
  letter-spacing: 10px;
  font-weight: 300;
  margin: 0;
}

.hero h1 {
  color: var(--clr-brown);
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  margin: 0.75rem auto;
  max-width: 75%;
}

/* quality-design */

.quality-design h2 {
  color: var(--clr-brown);
  font-weight: 900;
  text-align: center;
}

/* custom */
.custom {
  background-color: var(--clr-dark);
  color: #fff;
}

/* care */
.care {
  background-color: var(--clr-brown);
  color: var(--clr-cream);
}

@media (min-width: 800px) {
  .row {
    display: flex;
    align-items: center;
  }

  section .row {
    gap: 3rem;
  }

  .col {
    width: 100%;
  }

  .hero h1 {
    font-size: 3.75rem;
  }
}
